# Dictionary{}
# -indexed
# -ordered
# -duplicate
# -mutable

In [ ]:
d={<key>:<value>, <key>:<value>,....}

In [2]:
d={"a":"apple", "b":"ball", "c":"cat"}
print(d)
print(type(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [3]:
d={0:"apple", 2:"ball", 3:"cat"}
print(type(d))
print(d)

<class 'dict'>
{0: 'apple', 2: 'ball', 3: 'cat'}

In [6]:
d={"a":"apple", "b":"ball", "c":"cat"}
print(d['a'])
print(len(d))

apple
3

In [7]:
# d={}
d=dict()
print(d)

{}

In [9]:
d={}
d['a']="apple"
d['b']="ball"
d['c']="cat"
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [11]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    d[name]=phone
print(d)

enter n=2
enter name=ram
enter phone=1234567890
enter name=ram
enter phone=0000
{'ram': '0000'}

In [12]:
d={'ram':'9876543210', 'shyam':'1234567899'}
for i in d:
    print(i)

ram
shyam

In [13]:
d={'ram':'9876543210', 'shyam':'1234567899'}
for i in d.values():
    print(i)

9876543210
1234567899

In [14]:
d={'ram':'9876543210', 'shyam':'1234567899'}
for i in d.items():
    print(i)

('ram', '9876543210')
('shyam', '1234567899')

In [17]:
l=[]
d={'ram':'9876543210', 'shyam':'1234567899'}
for i in d.items():
    l.append(i)
print(l)

[('ram', '9876543210'), ('shyam', '1234567899')]

In [19]:
l=[('ram', '9876543210'), ('shyam', '1234567899')]
d=dict(l)
print(d)

{'ram': '9876543210', 'shyam': '1234567899'}

In [20]:
d={'ram':'9876543210', 'shyam':'1234567899'}
d['ram']

'9876543210'

In [2]:
d={'ram':'9876543210', 'shyam':'1234567899'}
d['ram'] = 9999999999
print(d)

{'ram': 9999999999, 'shyam': '1234567899'}

# del, pop()

In [3]:
d={'ram':'9876543210', 'shyam':'1234567899'}
del d['ram'] 
print(d)

{'shyam': '1234567899'}

In [4]:
d={'ram':'9876543210', 'shyam':'1234567899'}
d.pop('ram') 
print(d)

{'shyam': '1234567899'}

In [5]:
d={'ram':'9876543210', 'shyam':'1234567899'}
d.clear()
print(d)

{}

# update the dictionary(same as extend)
d={'ram':'9876543210', 'shyam':'1234567899'}
c= {'a': 'apple', 'b': 'ball', 'c': 'cat'}
d.update(c)
print(d)

In [5]:
d={'ram':'9876543210', 'shyam':'1234567899'}
c= {'a': 'apple', 'b': 'ball', 'c': 'cat'}
d.update(c)
print(d)

{'ram': '9876543210', 'shyam': '1234567899', 'a': 'apple', 'b': 'ball', 'c': 'cat'}

# multiple values of key
d={'ram':['9876543210','5667778889006'], 'shyam':['1234567899','3568876665']}
print(d)

In [11]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=int(input("enter ntc_phone="))
    ncell_phone=int(input("enter ncell_phone="))
    d[name]=[ntc_phone, ncell_phone]
print(d)

enter n=2
enter name=dambar
enter ntc_phone=9868927014
enter ncell_phone=9825542443
enter name=thir
enter ntc_phone=9840769789
enter ncell_phone=9824542445
{'dambar': [9868927014, 9825542443], 'thir': [9840769789, 9824542445]}

In [14]:
info={'dambar': [9868927014, 9825542443], 'thir': [9840769789, 9824542445]}
info['dambar'][0]
info['dambar'][0]=9999999999
print(info)

{'dambar': [9999999999, 9825542443], 'thir': [9840769789, 9824542445]}

In [15]:
info={'dambar': [9868927014, 9825542443], 'thir': [9840769789, 9824542445]}
info['dambar'].append(9999999999)
print(info)

{'dambar': [9868927014, 9825542443, 9999999999], 'thir': [9840769789, 9824542445]}

# dictionary inside list
info=[{'name':'ram', 'ntc_phone':9999999999, 'ncepp_phone':78777777777},
     {'name':'shyam', 'ntc_phone':8888888888, 'ncepp_phone':4444444444}]
print(info[0])

In [1]:
info=[{'name':'ram', 'ntc_phone':9999999999, 'ncepp_phone':78777777777}, {'name':'shyam', 'ntc_phone':8888888888, 'ncepp_phone':4444444444}]
print(info[0])

{'name': 'ram', 'ntc_phone': 9999999999, 'ncepp_phone': 78777777777}

In [5]:
d=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=int(input("enter ntc_phone="))
    ncell_phone=int(input("enter ncell_phone="))
    info={'name':name, 'ntc_phone':ntc_phone, 'ncell_phone':ncell_phone}
    d.append(info)
print(d)

enter n=2
enter name=ram
enter ntc_phone=2222222222
enter ncell_phone=33333333
enter name=swhyam
enter ntc_phone=5555555555
enter ncell_phone=6666666666
[{'name': 'ram', 'ntc_phone': 2222222222, 'ncell_phone': 33333333}, {'name': 'swhyam', 'ntc_phone': 5555555555, 'ncell_phone': 6666666666}]

# update and delete

In [3]:
info=[{'name':'ram', 'ntc_phone':9999999999, 'ncepp_phone':78777777777}, {'name':'shyam', 'ntc_phone':8888888888, 'ncepp_phone':4444444444}]
print(info[0])
del (info[0])
print(info)

{'name': 'ram', 'ntc_phone': 9999999999, 'ncepp_phone': 78777777777}
[{'name': 'shyam', 'ntc_phone': 8888888888, 'ncepp_phone': 4444444444}]

In [6]:
d={'ram':'9876543210', 'shyam':'1234567899'}
c= {'a': 'apple', 'b': 'ball', 'c': 'cat'}
d.update(c)
print(d)

{'ram': '9876543210', 'shyam': '1234567899', 'a': 'apple', 'b': 'ball', 'c': 'cat'}

# Dictionary inside dictionary

In [4]:
d={'ram':{'ntc_number':9866666666, 'ncell_number':9825542445},
   'shyam':{'ntc_number':9868927012, 'ncell_number':9825576890}}
print(d)

{'ram': {'ntc_number': 9866666666, 'ncell_number': 9825542445}, 'shyam': {'ntc_number': 9868927012, 'ncell_number': 9825576890}}

In [2]:
d["ram"]

{'ntc_number': 9866666666, 'ncell_number': 9825542445}

In [3]:
d={'ram':{'ntc_number':9866666666, 'ncell_number':9825542445},
   'shyam':{'ntc_number':9868927012, 'ncell_number':9825576890}}
for i in d:
    print(i)

ram
shyam

In [5]:
for i in d.values():
    print(i)

{'ntc_number': 9866666666, 'ncell_number': 9825542445}
{'ntc_number': 9868927012, 'ncell_number': 9825576890}

In [1]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=int(input("enter ntc_phone="))
    ncell_phone=int(input("enter ncell_phone="))
    d[name]={'ntc_phone':ntc_phone, 'ncell_phone':ncell_phone}
print(d)

enter n=2
enter name=dambar
enter ntc_phone=9868989899
enter ncell_phone=9825454555
enter name=shyam
enter ntc_phone=9868956789
enter ncell_phone=9825543456
{'dambar': {'ntc_phone': 9868989899, 'ncell_phone': 9825454555}, 'shyam': {'ntc_phone': 9868956789, 'ncell_phone': 9825543456}}

# Adding in dictionary

In [4]:
d={'dambar': {'ntc_phone': 9868989899, 'ncell_phone': 9825454555}} 
d['shyam']= {'ntc_phone': 9868956789, 'ncell_phone': 9825543456}
print(d)

{'dambar': {'ntc_phone': 9868989899, 'ncell_phone': 9825454555}, 'shyam': {'ntc_phone': 9868956789, 'ncell_phone': 9825543456}}

In [1]:
pwd

'C:\\Users\\Meridian IT\\PythonClass'