# list inside list

In [1]:
# list inside list
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [2]:
info=[['ram',56,'kathmandu'],
     ['shyam',36,'bhaktpur'],
     ['hari',67,'lalitpur']]
print(info)

[['ram', 56, 'kathmandu'], ['shyam', 36, 'bhaktpur'], ['hari', 67, 'lalitpur']]

In [4]:
data=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter add=")
    info=[name,age,add]
    data.append(info)
print(data)

enter n=2
enter name=ram
enter age=34
enter add=surkhet
enter name=shyam
enter age=45
enter add=dailekh
[['ram', 34, 'surkhet'], ['shyam', 45, 'dailekh']]

In [5]:
for i in data:
    print(i)

['ram', 34, 'surkhet']
['shyam', 45, 'dailekh']

In [7]:
len(data)

2

In [11]:
name=input("enter name=")
for i in data:
    if name in i:
        print(i)

enter name=ram
['ram', 34, 'surkhet']

In [12]:
name=input("enter name=")
for i in data:
    if name in i:
         print(i)

enter name=shyam
['shyam', 45, 'dailekh']

In [15]:
data=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter add=")
    info=[name,age,add]
    data.append(info)
print(data)

enter n=2
enter name=fff
enter age=23
enter add=ggg
enter name=iii
enter age=45
enter add=jjjj
[['fff', 23, 'ggg'], ['iii', 45, 'jjjj']]

# wap to delete duplicate rows having same name.
# wap to create a list inside list with given rows and columns.

In [8]:
data=[]
a=[["apple","ball","cat","dog","apple"],
     ["apple",3,4,5,"apple"],
     ["apple",7,8,9,"apple"]]
for i in a:
    if a[i]!="apple":
        data.append(i)
print(data)

TypeError: list indices must be integers or slices, not list

In [1]:
d=[]
n=int(input("enter value of n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter address=")
    info=[name, age, add]
    d.append(info)
print(d)

enter value of n=2
enter name=dambar
enter age=23
enter address=dailekh
enter name=ram
enter age=34
enter address=surkhet
[['dambar', 23, 'dailekh'], ['ram', 34, 'surkhet']]