# # Tuples
# - indexed
#  - ordered
#     -multiple data
#      -imutable

In [1]:
a=("apple", "ball","cat","dog")
b=(1,2,3,4)
print(a)
print(b)
print(type(a))
print(type(b))

('apple', 'ball', 'cat', 'dog')
(1, 2, 3, 4)
<class 'tuple'>
<class 'tuple'>

In [2]:
a=("apple", "ball","cat","dog")
print(a[3])

dog

In [3]:
a=("apple", "ball","cat","dog")
b=(1,2,3,4)
c=a+b
print(c)

('apple', 'ball', 'cat', 'dog', 1, 2, 3, 4)

In [5]:
a=[1,2,3,4,5,3,4,5,3]
print(max(a))
print(min(a))
print(sum(a))
a.sort()
print(a)

5
1
30
[1, 2, 3, 3, 3, 4, 4, 5, 5]

# #-tuples
#no append
# -no insert()
# -no extend()
# -no update
# -no del,pop() , remove()

In [3]:
a=(1,)
b=a+(2,)
c=b+(3,)
d=c+(4,)
print(d)

(1, 2, 3, 4)

In [6]:
a=[1,2,3,4,5,3,4,5,3]
a.sort()
a.reverse()
print(a)

[5, 5, 4, 4, 3, 3, 3, 2, 1]

In [6]:
t=tuple()
n= int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    t=t+(x,)
print(t)

enter n=2
enter x=ddd
enter x=fff
('ddd', 'fff')

In [8]:
a=["apple", "dddd", "ssss", "cccc", "bbbb", "iiiii"]
a.sort()
print(a)

['apple', 'bbbb', 'cccc', 'dddd', 'iiiii', 'ssss']

In [9]:
a=("apple", "ball","cat","dog")
b=list(a)
print(b)
del b[0]
a=tuple(b)
print(a)

['apple', 'ball', 'cat', 'dog']
('ball', 'cat', 'dog')

In [10]:
a="hello world"
print(list(a))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [11]:
a="hello world"
print(tuple(a))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [12]:
# Tuples inside tuple
a=(('ram',45,'kathmandu'),
  ('shyam',56,'butwal'),
  ('hari',49,'surkhet'))
print(a)

(('ram', 45, 'kathmandu'), ('shyam', 56, 'butwal'), ('hari', 49, 'surkhet'))

# creating a tuples inside tuple

In [13]:
#creating a tuples inside tuple
data=()
n=int(input("enter the value of n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age"))
    add=input("enter address=")
    info=((name,age,add),)
    data=data+(info,)
print(data)

enter the value of n=2
enter name=shyam
enter age34
enter address=dailekh
enter name=ram
enter age33
enter address=surkhet
((('shyam', 34, 'dailekh'),), (('ram', 33, 'surkhet'),))

In [16]:
# tuple inside list
a=(('dddd', 45, 'wwwww'),('fff', 65,'ggggg'),('rrrr', 77, 'ppppp'))
b=list(a)
print(b)

[('dddd', 45, 'wwwww'), ('fff', 65, 'ggggg'), ('rrrr', 77, 'ppppp')]

In [18]:
b.append(('ram', 8777, 'surkhet'))
print(b)

[('dddd', 45, 'wwwww'), ('fff', 65, 'ggggg'), ('rrrr', 77, 'ppppp'), ('ram', 8777, 'surkhet')]

In [24]:
# convert tuple inside tuple into list inside list
b=[]
a=(('dddd', 45, 'wwwww'),('fff', 65,'ggggg'),('rrrr', 77, 'ppppp'))
for i in a:
    x=list(i)
    b.append(x)
print(b)

[['dddd', 45, 'wwwww'], ['fff', 65, 'ggggg'], ['rrrr', 77, 'ppppp']]

[['dddd', 45, 'wwwww'], ['fff', 65, 'ggggg'], ['rrrr', 77, 'ppppp'], ('ram', 8777, 'surkhet')]

[['fff', 65, 'ggggg'], ['rrrr', 77, 'ppppp'], ('ram', 8777, 'surkhet')]

In [27]:
b=[('dddd', 45, 'wwwww'), ('fff', 65, 'ggggg'), ('rrrr', 77, 'ppppp'), ('ram', 8777, 'surkhet')]
del b[0]
print(b)

[('fff', 65, 'ggggg'), ('rrrr', 77, 'ppppp'), ('ram', 8777, 'surkhet')]

In [29]:
b=[('dddd', 45, 'wwwww'), ('fff', 65, 'ggggg'), ('rrrr', 77, 'ppppp'), ('ram', 8777, 'surkhet')]
del b[0]
b[0]=[('aaaa', 777, 'kkkk')]
print(b)

[[('aaaa', 777, 'kkkk')], ('rrrr', 77, 'ppppp'), ('ram', 8777, 'surkhet')]