In [8]:
# 1. for loop
 #2.while loop
for i in range(5):
    print(i, "hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [9]:
for i in range(1,5):
    print(i, "hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [10]:
for i in range(1,5,2):
    print(i, "hello world")

1 hello world
3 hello world

In [12]:
x=int(input("enter x="))
for i in range(1,11):
    print(x*i)

enter x=4
4
8
12
16
20
24
28
32
36
40

In [14]:
x=int(input("enter x="))
for i in range(1,11):
    print(x,"*",i,"=",x*i)

enter x=4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [1]:
for i in range(2):
    x=int(input("enter the value of x="))
    print(x)

enter the value of x=12
12
enter the value of x=2
2

In [4]:
s=0
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
    print(s)

enter n=4
enter x=2
2
enter x=3
5
enter x=5
10
enter x=6
16

In [5]:
s=0
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
print(s)

enter n=3
enter x=1000
enter x=30000
enter x=4000
35000

In [9]:
s=""
n=int(input("enter n="))
for i in range(n):
    x=(input("enter x="))
    s=s+" "+x
print(s)

enter n=4
enter x=ram
enter x=hari
enter x=shyam
enter x=pramod
 ram hari  shyam pramod

In [11]:
s=str()
n=int(input("enter n="))
for i in range(n):
    name=(input("enter name="))
    phone=(input("enter phone no="))
    s=s+" "+name +" "+ phone +"\n"
print(s)

enter n=2
enter name=ram
enter phone no=98877734y734
enter name=shyam
enter phone no=834ty7834687yi2
 ram 98877734y734
 shyam 834ty7834687yi2

In [12]:
fact=1
n= int(input("enter n="))
for i in range(1, n+1):
    fact=fact*i
    print(fact)

enter n=6
1
2
6
24
120
720

In [18]:
a="python"
for i in a:
    print(i)

p
y
t
h
o
n

In [17]:
a="python"
for i in a:
    print(i, end="")

python

In [21]:
a="hellow world i am python"
for i in a:
    if i !=" ":
        print(i, end="")

hellowworldiampython

In [26]:
for i in range(5):
     print("*"*i)

*
**
***
****

In [29]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [32]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [33]:
a="hellow world"
l=len(a)
for i in range(l):
    print(a[i], end="")

hellow world

In [35]:
a="hellow world"
l=len(a)-1
for i in range(l,-1,-1):
    print(a[i], end="")

dlrow wolleh

In [1]:
a="hellow world"
l=len(a)
for i in range(l):
    print(l)

12
12
12
12
12
12
12
12
12
12
12
12

In [5]:
a="hello world"
l=len(a)-1
for i in range(l)
    print(end="",a[i])

SyntaxError: invalid syntax (Temp/ipykernel_17660/1081239218.py, line 3)