In [4]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\programdata\anaconda3\lib\site-packages (2.2.9)

In [13]:
import mysql.connector    #importing database
database = mysql.connector.connect(
 host="localhost",
 user= "root",
 password="",
)
db = database.cursor()

db.execute("CREATE DATABASE pythonss")

DatabaseError: 1007 (HY000): Can't create database 'pythonss'; database exists

In [3]:
import mysql.connector    #importing database
database = mysql.connector.connect(
 host="localhost",
 user= "root",
 password="",
 database="pythonclass"
)
db = database.cursor()

In [7]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'dambar', 45, 54, 67, 56, 57, 564, 83.0, 'A')
(2, 'ram', 45, 56, 56, 34, 45, 423, 67.0, 'A')

In [8]:
db.execute("SELECT sn,name,total,perc FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'dambar', 564, 83.0)
(2, 'ram', 423, 67.0)

In [9]:
db.execute("SELECT * FROM student WHERE grade='A'")
result =db.fetchall()
for x in result:
    print(x)

(1, 'dambar', 45, 54, 67, 56, 57, 564, 83.0, 'A')
(2, 'ram', 45, 56, 56, 34, 45, 423, 67.0, 'A')

In [13]:
sql='''INSERT INTO student (sn, name, physics, chemistry, english, nepali, math, total, perc, grade)
VALUES (7, 'sabin', 67,76,89,54,89,89,88.0, 'A+')'''
db.execute(sql)
database.commit()

In [ ]:
# wap to input values and save in database.
# #sql=f'''INSERT INTO student (sn, name, physics, chemistry, english, nepali, math, total, perc, grade)
# VALUES ({sn}, '{name}', '{physics}','{chemistry}','{english}','{nepali}','{math}','{tota;}','{perc}', '{grade}')'''

In [2]:
n=int(input("enter n="))
for i in range(n):
    sn=int(input("enter sn="))
    name=input("enter name=")
    physics=int(input("enter physics marks="))
    chemistry=int(input("enter chemistry marks="))
    english=int(input("enter english marks="))
    nepali=int(input("enter nepali marks="))
    math=int(input("enter math marks="))
    total=physics+chemistry+english+nepali+math
    perc=total/5 
    if perc>=90:
        print("A+ grade")
    elif perc>=80:
        print("A grade")
    elif perc>=70:
        print("B+ grade")
    elif perc>=60:
        print("B grade")
    elif perc>=50:
        print("C+ grade")
    elif perc>=40:
        print("C grade")
    else:
        print("f grade")
sql=f"INSERT INTO student (sn, name, physics, chemistry, english, nepali, math, total, perc, grade) VALUES ({sn}, '{name}', {physics},{chemistry},{english},{nepali},{math},{tota;},{perc}, '{grade}')"

SyntaxError: f-string: invalid syntax (Temp/ipykernel_7912/3547788952.py, line 26)